In [ ]:
a=1
print(type(a))

<class 'int'>

In [ ]:
class Faculty:
  pass

faculty=Faculty()
print(type(faculty))

<class '__main__.Faculty'>

In [ ]:
class Faculty:
  pass

faculty1=Faculty()
faculty1.name="nuhman"
print(faculty1.name)
faculty2=Faculty()
faculty2.name="insaf"
print(faculty2.name)
print(type(faculty1))

nuhman
insaf
<class '__main__.Faculty'>

In [ ]:
class Faculty:
  inst_id=101
  def __init__(self,name,age,place="manjeri"):
    self.name=name
    self.age=age
    self.place=place

faculty1=Faculty("nuhman",19)
faculty2=Faculty("insaf",21,"malappuram")
print(faculty1.name)
print(faculty2.name)
print(faculty2.inst_id)
print(faculty1.place)
print(faculty2.place)

nuhman
insaf
101
manjeri
malappuram

In [ ]:
class Car:
  compony="BMW"
  model="m5"
  price=2500000000
  color="black"

  def displayDetailes(self):
    print("printing all details")

In [ ]:
class Car:
  compony="BMW"
  model="m5"
  price=2500000000
  color="black"

  def displayDetailes(self):
    print("printing all details")


  a=Car()
  b=Car()
  c=Car()
  print(a)
  print(type(a))

<__main__.Car object at 0x7b091775fd60>
<class '__main__.Car'>

In [ ]:
class Car:
  compony="BMW"
  model="m5"
  price=2500000000
  color="black"

  def displayDetailes(self):
    print("printing all details")


  a=Car()
  print(Car.color,Car.compony,Car.model,Car.price)

black BMW m5 2500000000

In [ ]:
class Car:
  compony="BMW"
  model="m5"
  price=2500000000
  color="black"

  def displayDetailes(self):
    print("printing all details")


  a=Car()
  print(a.color,a.compony,a.model,a.price)

black BMW m5 2500000000

In [ ]:
class Car:
  compony="BMW"
  model="m5"
  price=2500000000
  color="black"

  def displayDetailes(self):
    print("printing all details")


  a=Car()
  a.displayDetailes()

printing all details

## **constructor**

In [ ]:
class Employee:
  company_name="ABCD TECHNOLOGY"
  location="kochi"

  def __init__(self,id,name,salary):
    self.emp_id=id
    self.emp_name=name
    self.emp_salary=salary
  def get_details(self):
    print(self.emp_id,self.emp_name,self.emp_salary)

obj1=Employee(100,"X",500000)
obj2=Employee(101,"Y",600000)

obj1.get_details()
obj2.get_details()

100 X 500000
101 Y 600000

In [ ]:
# create a class car with attributes brand, model and year
# instantiate an object with brand="toyota",model="corolla",year=2020
# print the attributes of the object

In [ ]:
class Car:
  pass
  def __init__(self,brand,model,year):
    self.brand_name=brand
    self.model_name=model
    self.year_=year

car1=Car("Toyota","Corolla",2020)
print(f"Brand : {car1.brand_name}, Model : {car1.model_name}, year : {car1.year_}")

Brand : Toyota, Model : Corolla, year : 2020

In [ ]:
class Car:
  pass
  def __init__(self,brand,model,year):
    self.brand_name=brand
    self.model_name=model
    self.year_=year
  def get_details(self):
    print(self.brand_name,self.model_name,self.year_)

object1=Car("Toyota","Corolla",2020)
object1.get_details()

Toyota Corolla 2020

In [ ]:
# add a class attribute wheels = 4 to the car class.
# access it using both the class name and n object

In [ ]:
class Car:
  wheels=4
  def __init__(self,brand,model,year):
    self.brand_name=brand
    self.model_name=model
    self.year_=year

car1=Car("Toyota","Corolla",2020)
print(f"Brand : {car1.brand_name}, Model : {car1.model_name}, year : {car1.year_}, wheels : {Car.wheels}")

Brand : Toyota, Model : Corolla, year : 2020, wheels : 4

In [ ]:
# write a class  retangle with attributes  length and breadth
# add a method area to calculate the area of  thje retangle and return it.

In [ ]:
class Rectangle:
  def __init__(self,len,brd):
    self.length=len
    self.breadth=brd
  def area(self):
    print(f"area of rectangle : {self.length * self.breadth}")

obj1=Rectangle(5,4)
obj1.area()

area of rectangle : 20

In [ ]:
#create a class of students.
# add attributes name ,age ,id.
#create a method to display the attributes .
#create any 5 objects
#display the details object 2.
#access the 1st object  name.
# display details of object 3

In [ ]:
class Students:
  def __init__(self,name,age,id):
    self.std_name=name
    self.std_age=age
    self.std_id=id
  def details(self):
    print(f"name : {self.std_name}, age : {self.std_age}, id : {self.std_id}")

std1=Students("nuhman",19,101)
std2=Students("swalih",18,102)
std3=Students("shifan",17,103)
std4=Students("insaf",20,104)
std5=Students("shamil",18,105)


std2.details()
print(std1.std_name)
std3.details()

name : swalih, age : 18, id : 102
nuhman
name : shifan, age : 17, id : 103

In [ ]:
class Person:
  def __init__(self,name,age,city):
    self.p_name=name
    self.p_age=age
    self.p_city=city
  def introduce(self):
    print(f"hello my name is {self.p_name}. i am {self.p_age} years old , and i live in {self.p_city}")

  def is_adult(self):
    return self.p_age >= 18

p1=Person("nuhman",19,"malappuram")
p2=Person("shifan",17,"palakkad")


# person 1
p1.introduce()
print(p1.is_adult())

#  person 2
p2.introduce()
print(p2.is_adult())

hello my name is nuhman. i am 19 years old , and i live in malappuram
True
hello my name is shifan. i am 17 years old , and i live in palakkad
False

Create a class called Library that represents a library. Each book in the library will be represented by an
object. The class should have the following features:
1. Class Variable
o total_books: A class variable that keeps track of the total number of books in the library.
It should be updated whenever a new book is added or removed.

2. Attributes (Instance Variables)
o book_name (string): The name of the book.
o author (string): The author of the book.
o year (integer): The year the book was published.
o availability (boolean): Whether the book is available in the library (True if available, False
if checked out).

3. Methods
o __init__: Constructor to initialize the attributes, and it should also increase total_books
by 1 whenever a new book is created.
o check_availability: A method that returns whether the book is available or checked out.
o borrow_book: A method that changes the availability to False when a book is borrowed
and decreases total_books if the book is borrowed (considered removed from the library
temporarily).
o return_book: A method that changes the availability to True when a book is returned
and increases total_books if the book is returned (considered added back to the library).
o display_info: A method that prints the details of the book (book name, author, year, and
availability).
o display_total_books: A class method that prints the total number of books in the library.
4. Create multiple objects (books) for the Library class, and demonstrate borrowing, returning
books, and updating the total book count by calling appropriate methods.

Example of What It Should Include
1. When a new book is added, total_books should increase by 1.
2. When a book is borrowed, total_books should decrease by 1.
3. When a book is returned, total_books should increase by 1.

In [ ]:
class Library:
  total_books=5
  def __init__(self,book_name,author,year,availability):

## **inheritance**

In [ ]:
class Human:
  def eat(self):
    print("i can eat")
  def walk(self):
    print("i can walk")
class Male(Human):
  def talk(self):
    print("i can talk")

male1=Male()
male1.eat()
male1.talk()

i can eat
i can talk

In [ ]:
class Employee:
  def __init__(self,name,age):
    self.name=name
    self.age=age

class Devloper(Employee):
  pass

Dev_1=Devloper("nabeel",22)
print(Dev_1.name)
print(Dev_1.age)

nabeel
22

## **method overriding in python**

In [ ]:
class Human:
  def eat(self):
    print("i can eat")
  def walk(self):
    print("i can walk")
class Male(Human):
  def talk(self):
    print(" i can talk")
  def walk(self):
    print("i cant walk")
    #super().walk()

male1=Male()
male1.eat()
male1.walk()

i can eat
i cant walk

In [ ]:
class Human:
  def eat(self):
    print("i can eat")
  def walk(self):
    print("i can walk")
class Male(Human):
  def talk(self):
    print(" i can talk")
  def walk(self):
    print("i cant walk")
    super().walk()

male1=Male()
male1.eat()
male1.walk()

i can eat
i cant walk
i can walk

## **constructor overriding in python**

In [ ]:
class Employee:
  def __init__(self,name,age):
    self.name=name
    self.age=age

class Devloper(Employee):
  def __init__(self,name,age,language):
    self.language=language
    super().__init__(name,age)

Dev_1=Devloper("nabeel",20,"python")

print(Dev_1.language)
print(Dev_1.name)

python
nabeel

In [ ]:
class Product:
  def __init__(self,name,price):
    self.name=name
    self.price=price
  def display_details(self):
    print(f"prod_name : {self.name}, prod_price : {self.price}")

class Electronics(Product):
  def __init__(self,name,price,warranty):
    self.warranty=warranty
    super().__init__(name,price)
  def display_details(self):
    super().display_details()
    print(f"warranty : {self.warranty} years")


p1=Product("arduino",1000)
p1.display_details()

p2=Electronics("laptop",75000,2)
p2.display_details()

prod_name : arduino, prod_price : 1000
prod_name : laptop, prod_price : 75000
warranty : 2 years

## **Multiple Inheritance**

In [ ]:
class Human:

  def eat(self):
    print("i can eat")

  def work(self):
    print("i can work")

class  Male:

  def flirt(self):
    print("i can flirt")

  def work(self):
    print("i can code")

class Boy(Human,Male):
  pass

boy1=Boy()
boy1.eat()
boy1.flirt()
boy1.work()

i can eat
i can flirt
i can work

In [ ]:
class Human:

  def eat(self):
    print("i can eat")

  def work(self):
    print("i can work")

class  Male:

  def flirt(self):
    print("i can flirt")

  def work(self):
    print("i can code")

class Boy(Human,Male):
  def work(self):
    Male.work(self)  # explicitly calling the 'work' method from 'Male'

boy1=Boy()
boy1.eat()
boy1.flirt()
boy1.work()

i can eat
i can flirt
i can code

# **Polymorphism**

### Two types :
1. method overriding
2. method overloading

#`method overriding`

In [ ]:
class A:
  def show(self):
   print("class A")

class B(A):
  def show(self):
    print("class B")

class C(B):
  def show(self):
    print("class C")

# creating an object of C
obj=C()
obj.show()

class C

In [ ]:
class A:
  def show(self):
    print("class A")

class B(A):
  def show(self):
    print("class B")
    super().show()

class C(B):
  def show(self):
    print("class C")
    super().show()

# creating an object of C
obj=C()
obj.show()

class C
class B
class A

In [ ]:
class Animal:
  def speak(self):
    print("Animal is making a sound ")

class Dog(Animal):
  def speak(self):
    print("Dog barks")
    super().speak()

class Cat(Animal):
  def speak(self):
    print("Cat meows")

dog=Dog()
dog.speak()

Dog barks
Animal is making a sound

#`Method overloading`

1. Using Default Arguments

In [ ]:
class Calculator:
  def add(self,a,b=0,c=0):
    return a + b + c

calc=Calculator()

# call the method with different numbers of arguments
print(calc.add(5))
print(calc.add(5,10))
print(calc.add(5,10,20))

5
15
35

2. Using Variable Length Arguments(*args)

In [ ]:
class Mathoperations:
  def add(self,*numbers):
    total=sum(numbers)
    print(f"sum : {total}")

math=Mathoperations()
math.add(5)
math.add(5,10)
math.add(1,2,3,4,5)

sum : 5
sum : 15
sum : 15

3. Using *Kwargs

In [ ]:
class Greating:
  def say_hello(self,**kwargs):
    if "name" in kwargs and "age" in kwargs and "city" in kwargs:
      print(f"Hello {kwargs['name']}!")
      print(f"You are {kwargs['age']} years old.")
      print(f"You live in {kwargs['city']}.")
    else:
      print("hello")

g=Greating()
g.say_hello()
g.say_hello(name="swalih",age=18,city="palakkad")

hello
Hello swalih!
You are 18 years old.
You live in palakkad.

In [ ]:
class Company:
  def __init__(self,company_name,company_id):
    self.company_name=company_name
    self.__company_id=company_id

c1=Company("ABC",1001)
#print(c1.company_name)
print(c1.__company_id)

ABC

AttributeError: 'Company' object has no attribute '__company_id'

In [ ]:
class Company:
  def __init__(self,company_name,company_id):
    self.company_name=company_name
    self.__company_id=company_id

  def get_company_id(self):
    return self.__company_id

c1=Company("ABC",1001)
print(c1.company_name)
#print(c1.__company_id)
print(c1.get_company_id())

ABC
1001

In [ ]:
class Company:
  def __init__(self,company_name,company_id,ceo):
    self.company_name=company_name
    self.__company_id=company_id
    self.__ceo=ceo

  def get_company_id(self):
    return self.__company_id

  def set_ceo(self,name):
    self.__ceo=name

  def get_ceo(self):
    return self.__ceo

c1=Company("google",91,"sundar pichai")
#print(c1.__ceo)
c1.set_ceo("nabeel")
print(c1.get_ceo())
#print(c1.__company__id)

nabeel

In [ ]:
class Company:
  def __init__(self,company_name,company_id,ceo):
    self.company_name=company_name
    self.__company_id=company_id
    self.__ceo=ceo

  def set_company_id(self,id):
     self.__company_id=id

  def get_company_id(self):
    return self.__company_id


  def set_ceo(self,name):
    self.__ceo=name

  def get_ceo(self):
    return self.__ceo

c1=Company("google",91,"sundar pichai")
#print(c1.__ceo)
c1.set_ceo("nabeel")
print(c1.get_ceo())
#print(c1.__company__id)
c1.set_company_id(1)
print(c1.get_company_id())

nabeel
1

In [ ]:
class BankAccount:
  def __init__(self, account_number, balance):
    self.__account_number = account_number  # private attribute
    self.__balance = balance             # private attribute

  def deposit(self, amount):
    if amount > 0:
      self.__balance = self.__balance + amount
      print(f"Deposited {amount}. New Balance: {self.__balance}")
    else:
      print('invalid deposit amount')

  def get_balance(self):
    return self.__balance

account = BankAccount('12345',1000)

account.deposit(500)
account.get_balance()

Deposited 500. New Balance: 1500

1500

Car Class

You are asked to develop a class to manage car's fuel securely.

1.​Define a Python class Car with the following private attribute:
      ○​ __fuel_level to store the fuel level in the car.

2.​Implement the following public methods:
     ○​ add_fuel(amount) – A method to add fuel to the car.
     ○​ get_fuel_level() – A method to display the current fuel level securely.

3.​ Demonstrate the usage of the class by:
      ○​ Adding 20 units of fuel to the car.
      ○​ Displaying the fuel level.

## **Abstraction**

In [ ]:
from abc import ABC, abstractmethod

class Vehicle(ABC):
  def start_engine(self):
    print("Engine started")

  def apply_brake(self):
    print("Brake applied")

  def stop_engine(self):
    print("Engine Stopped")
  @abstractmethod
  def change_gear(self):
    pass


class Car(Vehicle):
  def open_sunroof(self):
    print("sunroof opened")
  def change_gear(self):
     print("the gear changed automatically")

class truck(Vehicle):
  def load_weight(self):
    print("weight loaded")
  def change_gear(self):
    print("the gear changed manually")



c=Car()
t=truck()
c.change_gear()
t.change_gear()

the gear changed automatically
the gear changed manually

In [ ]:
# create an abstract class payment with an abstract method make_paypent().
# implement subclasses creditcard and UPI ,where each provides its implementation for make_payment().
# demonstrate the usage by calling the  methods on both subclasses

In [ ]:
from abc import ABC, abstractmethod

class Payment(ABC):
    @abstractmethod
    def make_payment(self, amount):
        pass

class CreditCard(Payment):
    def make_payment(self, amount):
        print(f"Paid {amount} using Credit Card.")

class UPI(Payment):
    def make_payment(self, amount):
        print(f"Paid {amount} using UPI.")

# Demonstration
credit_card_payment = CreditCard()
upi_payment = UPI()

credit_card_payment.make_payment(500)  # Output: Paid 500 using Credit Card.
upi_payment.make_payment(1000)        # Output: Paid 1000 using UPI.

In [ ]:
# create an abstract class shape with an abstract method caculate_area()
# implement subclasses circle and square
# for circle, calculate the area using  the radius, and for square, calculate the area using the side length

In [ ]:
from abc import ABC, abstractmethod
from math import pi

class Shape(ABC):
  @abstractmethod
  def caculate_area():
    pass

class Circle(Shape):
  def __init__(self,radius):
    self.radius=radius

  def caculate_area(self):
    print(f"Area of Circle : {pi*self.radius**2:.2f}")

class Square(Shape):
  def __init__(self,side):
    self.side=side

  def calculate_area(self):
    print(f"Area of square : {self.side ** 2}")

circle=Circle(5)
square=Square(4)

circle.calculate_area()
square.calculate_area()

TypeError: Can't instantiate abstract class Square with abstract method caculate_area